@page
@using RecipeWebsite.Services.Interfaces
@inject IImageService _imageService
@inject UserManager<RecipeUser> _userManager
@model RecipeWebsite.Pages.DisplayRecipeModel
@{
    ViewData["Title"] = Model.Recipe.Name;
}


<div class="row">
    <div class="col text-center">
        <H1>@Model.Recipe.Name</H1>
        <div>
            <br />
            <h4>average Ratings: 3 Submitter: @Model.Recipe.Submitter.FirstName</h4>
            <br />
        </div>
        <div>
            @if (Model.Recipe.PhotoImage != null)
            {
                <img class="img-fluid" style="max-width: 500px;" src="@_imageService.DecodeImage(Model.Recipe.PhotoImage, Model.Recipe.ContentType)" alt="Recipe Picture" />
            }
        </div>
        <div>
            <br />
            <h4>Servings: @Model.Recipe.Servings &nbsp; Preperation Time: @Model.Recipe.PrepTime &nbsp;  Cooking Time: @Model.Recipe.CookTime </h4>
        </div>
        <div>
            @(Model.Recipe.LongDescription ?? Model.Recipe.ShortDescription)
        </div>
        <div>
            <label>Main Ingredients</label>
            @foreach (var ingredient in Model.Recipe.MainIngredients)
            {
                <div>@ingredient.Ingredient</div>
            }
        </div>
        <div>
            <label>Recipe Items</label>
            @foreach (var ri in Model.Recipe.RecipeItems)
            {
                <div>
                    @ri.Item
                    <br />
                    @foreach (var item in ri.Ingredients)
                    {
                        <div>@item</div>
                    }
                    <label>Recipe Directions</label>
                    @ri.RecipeDirection
                </div>
            }
        </div>
        <hr />
        <div>
            @foreach (var rc in Model.Recipe.Comments)
            {
                <div>
                    @rc.Comment
                    
                    <p>Submitted by: @rc.Submitter.FirstName</p>
                </div>

            }

        </div>






        @if (User.Identity.IsAuthenticated)
        {
            <form method="post">
              @Html.HiddenFor(m => m.Comment.RecipeId)

                <div class="form-group">
                    <label class="h2 control-label font-weight-bold">Add Comment</label>
                    <textarea asp-for="Comment.Comment" class="form-control" rows="5"></textarea>
                </div>

                <button type="submit" class="btn btn-dark w-100 btn-sm">Submit</button>
            </form>
        }
        else
        {
            <a class="btn w-100 btn-sm btn-dark" asp-area="Identity" asp-page="/Account/Login">
                Login to add comments
            </a>
        }

    </div>
</div>









@*
    Recipe Name, Ratings, Submitter
    Picture
    Servings, Prep Time, Cook time
    Main Ingredients
    Recipe Items
    { LOOP over
    Recipe Ingredients
    Recipe directions
    }


    Long description ?? short description





*@