@page "/item/{Id:int?}"
@model RecipeWebsite.Pages.ItemIngredientsModel
@{
}
<form>
    @Html.AntiForgeryToken()

    @foreach (var r in Model.Recipe.RecipeItems)
    {
        <p>@r.Item</p>

        <div class="mb-2 row">
            <div class="col-6">
                <label>Ingredient</label>
                <input data-id="@r.RecipeItemId" class="form-control txtIng" />
            </div>
            <div class="col-6">
                <button class="btn-primary btnAdd btn mt-4" type="button" data-id="@r.RecipeItemId">Add</button>
            </div>
        </div>

        <div>
            <select multiple rows="3" data-id="@r.RecipeItemId" class="form-control form-select selItems" data-item="@r.Item">
            </select>
        </div>
    }

    <button type="button" class="btn btn-primary" id="btnSubmit">Submit</button>
</form>



@section Scripts
{
<script>
    $(() => {

    $('.btnAdd').click(function() {
        const Id = $(this).data("id");
        const ing = $(`.txtIng[data-id=${Id}]`).val();
        const sel = $(`.selItems[data-id=${Id}]`);

        sel.append(`<option value='${ing}}'>${ing}</option>`);
        $(`.txtIng[data-id=${Id}]`).val('');

    });

    $('#btnSubmit').click(() => {
        let recipeItems = [];

        $('.selItems').each(function(index) {
            const id = $(this).data("id");
            const item = $(this).data("item");
            let items = [];
            $(`.selItems[data-id=${id}] option`).each(function(index) {
                items.push($(this).val())
            })

            const recipeItem = {
                RecipeItemId: id,
                Item: item,
                Ingredients: items,
            };
            recipeItems.push(recipeItem);
        });

         const options = {
                headers: {
                    RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                method: "POST",
                url: "/item",
                data: {
                    recipeItems: recipeItems
                }
            }

            $.ajax(options).done(() => {
                window.location.replace("/");
            }).fail(() => {
                alert("Ajax Call Failed!");
            })

    })
});
</script>


}



